.foot{
    margin-top: 50px;
    //  max-width: 0%;
    margin-left: 5%;
}

.row{
    display: flex;
}

.svg-inline{
    width: 30px;
    color: #ff7800;
 
}

// .nuin{
//     //  max-width: 50%;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 14px;
// }

 p{
    max-width: 50%; 
}


.icons{
    margin-top: 10px;
    cursor: pointer;
}

.i-ns{
    margin-left: 1px;
    font-size: 22px;
    padding: 1px 10px;
}


.roo{
    margin-left: 30px;
}
