.foot{
    margin-top: 50px;
      max-width: 80%;
    margin-left: 10%;
}

.row{
    display: flex;
}

.svg-inline{
    width: 30px;
    color: #ff7800;
 
}

// .nuin{
//     //  max-width: 50%;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 14px;
// }

 .pol{
    font-size: 20px;
}


.icons{
    margin-top: 10px;
    cursor: pointer;
}

.i-ns{
    margin-left: 1px;
    font-size: 22px;
    padding: 1px 10px;
}


.roo{
    margin-left: 20px;
}

.hui{
    text-align: center;
}

.nui li{
    padding: 5px;
    list-style:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.po{
    margin-left: 10px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.email{
    margin-top: 10px;
    margin-left: 10px;
    
}

.email input{
    height: 25px;
    width: 200px;
    
}

.button{
    margin-top: 10px;
    margin-left: 10px;
}

.btn{
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover{
    background-color: #ff7800;
    color: white;
  
}

.imge{
    margin-top: 20px;
}

.on{
    text-align: center;
}


.Ending{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.orf{
    color: #ff7800;
}

