<div class="bwe">
Our<span class="pank">Blogs</span>
  </div>

  <div class="biny">
<div class="sit">
     <div class="nit">
         <div class="mage">
             <img src="https://grocery-store-react.netlify.app/image/blog-1.jpg">
         </div>
         <div class="vart">
             <div class="mart">
                 <span class="pan"><i class="fa fa-user"></i></span>
                 <span class="pin">By User</span>
             </div>
             <div class="mart">
                <span class="pan"><i class="fa fa-gift"></i></span>
                <span class="pin">1st May, 2021</span>
            </div>
         </div>

         <div class="name">Fresh And Organic Vegetables And Fruits</div>
         <div class="paras">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Veniam, Expedita.</div>
         <div class="button">
            <button class="btn">Shop Now</button>
        </div>
     </div>

     <div class="nit">
        <div class="mage">
            <img src="https://grocery-store-react.netlify.app/image/blog-1.jpg">
        </div>
        <div class="vart">
            <div class="mart">
                <span class="pan"><i class="fa fa-user"></i></span>
                <span class="pin">By User</span>
            </div>
            <div class="mart">
               <span class="pan"><i class="fa fa-gift"></i></span>
               <span class="pin">1st May, 2021</span>
           </div>
        </div>

        <div class="name">Fresh And Organic Vegetables And Fruits</div>
        <div class="paras">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Veniam, Expedita.</div>
        <div class="button">
           <button class="btn">Shop Now</button>
       </div>
    </div>

    <div class="nit">
        <div class="mage">
            <img src="https://grocery-store-react.netlify.app/image/blog-1.jpg">
        </div>
        <div class="vart">
            <div class="mart">
                <span class="pan"><i class="fa fa-user"></i></span>
                <span class="pin">By User</span>
            </div>
            <div class="mart">
               <span class="pan"><i class="fa fa-gift"></i></span>
               <span class="pin">1st May, 2021</span>
           </div>
        </div>

        <div class="name">Fresh And Organic Vegetables And Fruits</div>
        <div class="paras">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Veniam, Expedita.</div>
        <div class="button">
           <button class="btn">Shop Now</button>
       </div>
    </div>
    </div>
</div>

  <!-- </div> -->
