<div class="darr">
    <div class="bukl">
        Our <span class="pio">Features</span>
    </div>

    <div class="flx">
        <div class="bunm">
            <div class="img"><img src="	https://grocery-store-react.netlify.app/image/feature-img-1.png"></div>
             <div class="gre">Fresh And Organic</div>
             <div class="dit">Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit, Quis!</div>
             <div class="byns">
                 <button class="btn">Read More</button>
             </div>
        </div>

        <div class="bunm">
            <div class="img"><img src="https://grocery-store-react.netlify.app/image/feature-img-2.png"></div>
             <div class="gre">Free Delivery</div>
             <div class="dit">Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit, Quis!</div>
             <div class="byns">
                 <button class="btn">Read More</button>
             </div>
        </div>


        <div class="bunm">
            <div class="img"><img src="https://grocery-store-react.netlify.app/image/feature-img-3.png"></div>
             <div class="gre">Easy Payment</div>
             <div class="dit">Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit, Quis!</div>
             <div class="byns">
                 <button class="btn">Read More</button>
             </div>
        </div>
    </div>
</div>
