<div class="bwe">
  Our<span class="pank">Product</span>
</div>

<div class="vert">
<owl-carousel-o [options]="customOptions">

  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/product-1.png">
      </div>
      <div class="head">Fresh Orange</div>
      <div class="dab">$4.99/--10.99/-</div>
      <div class="star">
     	 <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
      <div class="button">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
</ng-template>  

<ng-template carouselSlide>
  <div class="bint">
    <div class="image">
        <img src="https://grocery-store-react.netlify.app/image/product-4.png">
    </div>
    <div class="head">Fresh Cabage</div>
    <div class="dab">$3.99/--7.99/-</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
    </div>
    <div class="button">
        <button class="btn">Add to Cart</button>
    </div>
</div>
</ng-template> 



<ng-template carouselSlide>
  <div class="bint">
    <div class="image">
        <img src="https://grocery-store-react.netlify.app/image/product-2.png">
    </div>
    <div class="head">Fresh Onion</div>
    <div class="dab">$6.99/--13.99/-</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
    </div>
    <div class="button">
        <button class="btn">Add to Cart</button>
    </div>
</div>
</ng-template> 


<ng-template carouselSlide>
  <div class="bint">
    <div class="image">
        <img src="	https://grocery-store-react.netlify.app/image/product-3.png">
    </div>
    <div class="head">Fresh Meat</div>
    <div class="dab">$1.99/--20.99/-</div>
    <div class="star">
      <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
     <span class="fa fa-star checked"></span>
    </div>
    <div class="button">
        <button class="btn">Add to Cart</button>
    </div>
</div>
</ng-template> 


</owl-carousel-o>
</div>



<div class="vert">
  <owl-carousel-o [options]="customOptions">
  
    <ng-template carouselSlide>
      <div class="bint">
        <div class="image">
            <img src="https://grocery-store-react.netlify.app/image/product-5.png">
        </div>
        <div class="head">Fresh Patato</div>
        <div class="dab">$4.99/--10.99/-</div>
        <div class="star">
          <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
        </div>
        <div class="button">
            <button class="btn">Add to Cart</button>
        </div>
    </div>
  </ng-template>  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/product-6.png">
      </div>
      <div class="head">Fresh Avocado</div>
      <div class="dab">$3.99/--7.99/-</div>
      <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
      <div class="button">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  </ng-template> 
  
  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/product-7.png">
      </div>
      <div class="head">Fresh Carrot</div>
      <div class="dab">$6.99/--13.99/-</div>
      <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
      <div class="button">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  </ng-template> 
  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/product-8.png">
      </div>
      <div class="head">Green Lemon</div>
      <div class="dab">$1.99/--20.99/-</div>
      <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
      <div class="button">
          <button class="btn">Add to Cart</button>
      </div>
  </div>
  </ng-template> 
  
  
  </owl-carousel-o>
  </div>
