.bwe{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pank{
    background-color: #ff7800;
    color: #fff;
    display: inline-block;
     padding: 0.5rem 3rem;
    // -webkit-clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
    clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
}

.vert{
    margin-top: 50px;
     max-width: 85%;
     margin-left: 10%;
}

.bint{
    box-sizing: border-box;
    background-color: white;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
     width: 330px;
    height: 410px;
     margin: 0px 27px;
}

.image{
    // width: 240px;
    margin-top: 25px;
    text-align: center;
    margin-left: 3%;
    justify-content: center;
    // border-radius: 50%;
    // height: 10rem;
    // width: 10rem;
    
}

.image img{
    border-radius: 50%;
     width: 100px;
    //  text-align: center;
      margin-left: 80px;
    padding-top: 40px;
}

.head{
    text-align: center;
    color: #130f40;
    font-size: 22px;
    font-weight: 570;
    font-family: sans-serif;
    margin-top: 15px;
}

// .dab{
//     margin-top: 20px;
//     text-align: center;
//     font-size: 20px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     color: #666;
// }

// .button{
//     text-align: center;
//     margin-top: 15px;
// }

// .btn{
//     width: 45%;
//     height: 35px;
//     border-radius: 4px;
//     background: none;
//     font-size: 15px;
// }

// .btn:hover{
//     background-color: #ff7800;
//     color: white;
// }


.star {
    color: orange;
    text-align: center;
    margin-top: 19px;
  }

  .para{
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     letter-spacing: 1px;
  }