<div class="bwe">
    Cutomer<span class="pank">Review</span>
  </div>
  
  <div class="vert">
  <owl-carousel-o [options]="customOptions">
  
    <ng-template carouselSlide>
      <div class="bint">
        <div class="image">
            <img src="https://grocery-store-react.netlify.app/image/pic-1.png">
        </div>
        <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus quasi ex nemo soluta ipsam et reprehenderit accusantium ut eligendi incidunt modi, laboriosam omnis, repudiandae molestiae eos, numquam obcaecati sequi? Hic nostrum repellat error ea, quis pariatur iure dicta aut necessitatibus est sunt commodi fuga, nihil accusantium mollitia aliquid repudiandae.</div>
        <div class="head">Salman Khan</div>
        <div class="star">
            <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
         <span class="fa fa-star checked"></span>
        </div>
       
    </div>
  </ng-template>  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/pic-2.png">
      </div>
      <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus quasi ex nemo soluta ipsam et reprehenderit accusantium ut eligendi incidunt modi, laboriosam omnis, repudiandae molestiae eos, numquam obcaecati sequi? Hic nostrum repellat error ea, quis pariatur iure dicta aut necessitatibus est sunt commodi fuga, nihil accusantium mollitia aliquid repudiandae.</div>
      <div class="head">Alia Kapoor</div>
      <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
     
  </div>
  </ng-template> 
  
  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/pic-3.png">
      </div>
      <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus quasi ex nemo soluta ipsam et reprehenderit accusantium ut eligendi incidunt modi, laboriosam omnis, repudiandae molestiae eos, numquam obcaecati sequi? Hic nostrum repellat error ea, quis pariatur iure dicta aut necessitatibus est sunt commodi fuga, nihil accusantium mollitia aliquid repudiandae.</div>
      <div class="head">Akshay Kumar</div>
     <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
      
  </div>
  </ng-template> 
  
  
  <ng-template carouselSlide>
    <div class="bint">
      <div class="image">
          <img src="https://grocery-store-react.netlify.app/image/pic-4.png">
      </div>
      <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus quasi ex nemo soluta ipsam et reprehenderit accusantium ut eligendi incidunt modi, laboriosam omnis, repudiandae molestiae eos, numquam obcaecati sequi? Hic nostrum repellat error ea, quis pariatur iure dicta aut necessitatibus est sunt commodi fuga, nihil accusantium mollitia aliquid repudiandae.</div>
      <div class="head">Shainaz Dabir</div>
      <div class="star">
        <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
      </div>
    
  </div>
  </ng-template> 
  
  
  </owl-carousel-o>
  </div>
