

<div class="alls">
    <div class="bwe">
        Product<span class="pank">Categories</span>
    </div>

    <div class="vert">
        <div class="bint">
            <div class="image">
                <img src="https://grocery-store-react.netlify.app/image/cat-1.png">
            </div>
            <div class="head">Vegetables</div>
            <div class="dab">Upto 45% Off</div>
            <div class="button">
                <button class="btn">Shop Now</button>
            </div>
        </div>

        <div class="bint">
            <div class="image">
                <img src="	https://grocery-store-react.netlify.app/image/cat-2.png">
            </div>
            <div class="head">Fresh Fruits</div>
            <div class="dab">Upto 40% Off</div>
            <div class="button">
                <button class="btn">Shop Now</button>
            </div>
        </div>

        <div class="bint">
            <div class="image">
                <img src="https://grocery-store-react.netlify.app/image/cat-3.png">
            </div>
            <div class="head">Dairy Products</div>
            <div class="dab">Upto 35% Off</div>
            <div class="button">
                <button class="btn">Shop Now</button>
            </div>
        </div>

        <div class="bint">
            <div class="image">
                <img src="https://grocery-store-react.netlify.app/image/cat-4.png">
            </div>
            <div class="head">Freshh Meat</div>
            <div class="dab">Upto 45% Off</div>
            <div class="button">
                <button class="btn">Shop Now</button>
            </div>
        </div>
    </div>
</div>
